body {
  padding: 10% 15%;
}

p {
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
  line-height: 2.5;
  font-size: 15px;
  padding: 5% 12%;
  padding-bottom: 20%;
  color: hsla(0, 0%, 100%, 0.75);
}

.sedans {
  background-color: hsl(31, 77%, 52%);
  text-align: left;
  padding: 10% 10%;
  border-radius: 15px 0 0 15px;
}

.suvs {
  background-color: hsl(184, 100%, 22%);
}

.luxury {
  background-color: hsl(179, 100%, 13%);
  border-radius: 0 15px 15px 0;
}

.title-head {
  font-family: 'Big Shoulders Display', cursive;
  font-weight: 700;
  font-size: 3rem;
  padding: 10% 10%;
  color: hsl(0, 0%, 95%);
}

.learn_more {
  padding: 10% 5%;
  margin-left: 8%;
  margin-bottom: 8%;
  border-radius: 50px;
}

.sedans .learn_more {
  color: hsl(31, 77%, 52%);
}

.suvs .learn_more {
  color: hsl(184, 100%, 22%);
}

.luxury .learn_more {
  color: hsl(179, 100%, 13%);
}

.attribution {
  margin-top: 5%;
}
